Brotli==1.1.0
certifi==2024.8.30
charset-normalizer==3.3.2
customtkinter==5.2.2
darkdetect==0.8.0
idna==3.10
mutagen==1.47.0
packaging==24.1
pycryptodomex==3.20.0
pyperclip==1.9.0
requests==2.32.3
urllib3==2.2.3
websockets==13.0.1
yt-dlp==2024.8.6
